.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #b9d6f2;
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  gap: 20px;
}

.navbar li {
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  font-size: 1.2rem;
  margin: 0 5px;
  padding: 5px;
  border-radius: 5px;
}

.navbar li:hover {
  background-color: #003559;
  color: #fff;
}

.navbar li.active {
  background-color: #003559;
  color: #fff;
}
